@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
  font-family: HankenGrotesk;
  src: url('/fonts/HankenGrotesk-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: HankenGrotesk;
  src: url('/fonts/HankenGrotesk-BoldItalic.ttf') format('ttf');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: HankenGrotesk;
  src: url('/fonts/HankenGrotesk-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: HankenGrotesk;
  src: url('/fonts/HankenGrotesk-SemiBoldItalic.ttf') format('ttf');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: HankenGrotesk;
  src: url('/fonts/HankenGrotesk-Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
}

body {
  margin: 0;
  background-color: #0A1A2B;
}

h3 {
  @apply text-2xl
}
h2 {
  @apply text-3xl
}

/* code mdx */

pre {
  @apply bg-secondary text-base p-8 rounded-b-xl;
}

code {
  
}

/* code mdx */

@layer base {
  .clean-style ul,
  .clean-style ol,
  .clean-style p {
    list-style: revert;
    margin: revert;
    padding: revert;
    letter-spacing: revert;
    line-height: revert;
  }
  .clean-style table {
    border-width: 1px;
  }
  .clean-style table > tbody, .clean-style table > tbody > tr, .clean-style table > tbody > tr > td  {
    border-width: inherit;
    border-color: inherit;
  }
  .clean-style h1, .clean-style h2, .clean-style h3, .clean-style h4, .clean-style h5, .clean-style h6 {
    font-size: revert;
    line-height: revert;
    letter-spacing: revert;
  }
}

.hide-overflow {
  @apply overflow-y-hidden;
}

.visually-hidden {
  @apply h-[1px] w-[1px] -m-[1px] overflow-hidden p-0 !absolute;
}

.page-header::before {
  content: attr(data-before-content);  
  @apply text-secondary font-bold italic text-8xl uppercase absolute -z-10 top-2/3 left-1/2 -translate-y-1/2 -translate-x-1/2;
}